[flake8]
exclude =
    migrations, # 데이터베이스 스키마 변경을 자동으로 관리하기 위한 스크립트를 포함, 동적으로 생성되며 일반적으로 개발자가 직접 작성하지 않음
    __pycache__, # 컴파일된 바이트코드 저장소, 소스 코드가 아님
    manage.py, # 기본 스타일이 이미 준수
    settings.py # 코드 스타일보단 설정 값에 초점을 맞춤